/* styling */
.sidenote, .marginnote, .margin-toggle, .sidenote-number {
	color: #248f8f !important;
}

.ko {
	font-family: serif;
	font-size:90%;
	line-height: 80%;
}

/*links*/

a:link, a:visited {
	color:#2eb8b8;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:85%;
	font-weight: 600;
	text-decoration: none;
}

a:hover, a:active {
	color:#248f8f;
}

/* footer - ignore for now*/
.footer-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fffff8;
  color: #111;
  text-align: center;
}

.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding-top: 2em;
  overflow: hidden;
	font-size: 1em;
}

.footer-nav li {
  display: inline;
  padding-right: 5%;
	padding-bottom: 5%;
}

